@import "../../../global.scss";

.bg3 {
  position: absolute;
  background-size: cover;
  opacity: 0.3;
  background-position: 50% 50%;
}

.testimonials {
  background-color: rgb(31, 29, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px;

  @include mobile {
    justify-content: space-around;
  }

  h1 {
    color: white;
    z-index: 2;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-1 {
    width: 100%;
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      flex-direction: column;
      height: 95%;
    }

    .card {
      width: 250px;
      height: 60%;
      border-radius: 10px;
      box-shadow: 0px 0px 10px -2px orange;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1px 20px;
      transition: all 1s ease;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.3);

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 70%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }

        i {
          color: white;
          font-size: 17px;
        }

        img {

          &.left,
          &.right {
            height: 25px;
          }

          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(3, 132, 136);
        color: white;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        @include mobile {
          font-size: 10px;
          padding: 5px;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin-bottom: 5px;
          color: white;

          @include mobile {
            font-size: 14px;
          }
        }

        h4 {
          color: rgb(8, 235, 243);

          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }
}